
/* CSS for general website as a whole */

body{
    background: linear-gradient(to bottom, #232733 0%, #3A4153 50%, #697599 100%);
}
* {
	font-family: "Montseratt", sans-serif;
	box-sizing: border-box
}

html {
  scroll-behavior: smooth;
 }

 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  


/* CSS for the header section of website */

header {
	 padding: 30px;
     display: flex;
     justify-content: center; 
     align-items: center; 
     height: 10vh; 
     text-align: center; 
     color: white;
     margin-bottom: 2%;
}





/* CSS for Body of website */

.home body {
	height: 2500px;
	background-repeat:no-repeat;
    margin: 0;
	padding: 0;
}

#sidenav, hr {
    color: white;
	padding: 0;
}


/* CSS for the top section of the home page*/

.home #topPage {
	background-attachment: fixed;
	background-image: url('images/cross.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
	height: 40%;
	margin: 0;
}

.home #topPage p {
	font-size: 20px;
	color: white;
	left: 70%;
    top: 44%;
	position: absolute;
	float: right;
	
}

/* CSS for the navigation bars and title within the website Home Page*/


#sidenav {
  width: 200px;
  z-index: 1;
  top: 20%;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0 0 0 ;
  
}

#sidenav a {
  padding: 15px 8px 15px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  
}

nav {
  overflow: hidden;
  position: absolute;
  width: 600px;
  height: 100px;
  right: 10px;
  top: 2.5%;
}

nav a {
  margin: 10px;
  margin-bottom: 30px;
  padding: 0;
  font-size: 25px;	
  color: #ffffff;
  display: block;
  float: right;
  text-decoration: none;

}



/* CSS for the scroll button */


#topPage a {
  padding: 6px 8px 26px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}

#scrollText {
	margin-top: 800px;
}


/* CSS for the middle section of home page */

.home #middlePage {
	position: relative;
	height: 20%;
}

.home #middlePage p {
	font-size: 20px;
	color: #666667;
	margin-left: 10px;
}

#middlePage h4{
	font-size: 25px;
	color: #000000;
	margin-left: 10px;
	right: 10px;

}

.icon {
    height: 100px;
    width: 100px;
    margin-left: 15px;
    object-fit: contain;
}


/* CSS for the lower section of the home page*/

.home #lowerPage {
	background-attachment: fixed;
	background-image: url('images/building.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
	height: 40%;
}

.home #lowerPage p {
	font-size: 20px;
	color: #666667;
}
.home #lowerPage h1 {
	color: #6d402a;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
	display: flex;
}


/* CSS for the Information and News sections in lower page */

section {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background-color: #FAF9F6;
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  width: 50%;
  height: 800px;
  margin: 10px;
}

#page{
	display: flex;
}

#boxes{
	display: flex;
	width: 80%;
	height: 100%;
}

#boxes div{
	margin: 0 3% 0 3%;
    background-color: white;
    border-radius: 10px;
    width: 130px;
    height: 130px;
}


#boxes div h4{
	text-align: center;
	padding: 0;
	margin: 0;
}

.row {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  display: flex;
}

#eventsTitle {
	font-size: 50px;
	color: #3892C9;
}

.button {
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.flex-container {
  display: flex;
}


/* CSS to add animation to the Home Page navigation buttons */



.sidenavItems {
	transition: opacity 400ms ease;
}

#sidenav:hover > .sidenavItems {
	opacity: 0.3;
	
}

#sidenav:hover > .sidenavItems:hover{
	opacity: 1;
}



.navItems {
	transition: opacity 400ms ease;
}

nav:hover > .navItems {
	opacity: 0.3;
	
}

nav:hover > .navItems:hover{
	opacity: 1;
}



/* CSS to customise the Scrollbar within the wesbite */


::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Gallery CSS */

  .galleryHeader {
	height: 100%;
	background-image: url("images/cross.jpg");
	background-size: cover;
	object-fit: fill;
  }

/* Gallery front page */

.galleryHeader {
	padding: 30px;
   background-attachment: fixed;
   background-size: cover;
   background-position: center center;
   height: 300px;
}

.galleryimg {
	display: block;
	width: 250px;
	height: 700px;
	object-fit: cover;
}

 /* Four image containers */
 .g-column {
	float: left;
	display: relative;
	position: relative;
	transition: transform 0.3s ease;
	z-index: 2;
  }

    .overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:rgba(0, 0, 0, 0.60);
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
  } 
  
  .g-column:hover .overlay {
	height: 100%;
  }
  
  .text {
	color: white;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }

  /* Menu styles */
.menu {
	position: absolute;
	top: 0;
	right: 0px;
	z-index: -1;
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
}

.menu a {
	margin: 10px;
	margin-bottom: 30px;
	padding: 0;
	font-size: 50px;	
	color: rgb(60,64,67);
	transition: 0.4s;
	display: block;
	float: right;
	text-decoration: none;
  }

  .menu a:hover {
	color: rgb(26,115,232);
	transition: 0.4s;
  }

.g-column:hover .menu {
	transform: translateX(200px);
}

/* Push other columns to the right */
.g-column:hover ~ .g-column {
	transform: translateX(250px);
}
  

/* Gallery Pages */


.activeLink {
	color:rgb(26,115,232) !important;
}

#imageGallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	float: left;
	width: 60%;
  }
  
  #imageGallery img {
	margin: 10px;
	height: 300px;
	width: auto;
  }
  
  #imageGallery img:hover {
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
	transition: 0.3s;
  }

/* The sidebar menu */

#g-sidebar {
	height: 100%;
	width: 15%; 
	z-index: 1;
	float: right;
	overflow-x: hidden;
	padding-top: 4%;
	position: sticky;
	top: 0;
  }
  
  /* The navigation menu links */
  #g-sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: rgb(60,64,67);
	transition: 0.4s;
	display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  #g-sidebar a:hover {
	color: rgb(26,115,232);
	transition: 0.4s;
  }

  .photoInformation {
	float: left;
	width: 20%;
	height: 100%;
	background: white;
	border-radius: 10px;
	top: 0;
	position: sticky;
  }

  #galleryTitle {
	font-size: 50px;
	color: #6d402a;
	text-align: center;
}

#photoDescription {
	font-size: 1.5vw;
	color: #555;
	padding: 15px;
	float: left;
	transition: opacity 0.18s ease-in-out;
}

/* Other Pages CSS */




/* Other Pages Header */


.otherHeader {
	 padding: 30px;
	background-attachment: fixed;
	background-image: url('images/cross.jpg');
	background-size: cover;
	background-position: center center;
	height: 300px;
}


#otherMainTitle {
	font-size: 30px;
	color: white;
	position: absolute;
	float: right;
	

}

#secondTitle {
	font-size: 50px;
	color: white;
	margin-top: 200px;
}





/* CSS for the navigation bars within the website's other pages*/


#nav2 {
  overflow: hidden;
  position: absolute;
  width: 80%;
  height: 100px;
  right: 10px;
  top: 5%;
}

#nav2 a {
  margin: 10px;
  margin-bottom: 30px;
  padding: 0;
  font-size: 25px;	
  color: #fff;
  display: block;
  float: right;
  text-decoration: none;

}



/* CSS to add animation to the Other Page navigation buttons */

.navItems2 {
	transition: opacity 400ms ease;
}


#nav2:hover > .navItems2 {
	opacity: 0.3;
	
}

#nav2:hover > .navItems2:hover{
	opacity: 1;
}

div {
    border: 1px solid black;
}
