/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #232733 0%, #3A4153 50%, #697599 100%);
    font-size: 16px;
    color: white;
    overflow: hidden;
}

/* Form Container */
.auth-container {
    width: 100%;
    max-width: 380px;
    padding: 25px;
    background: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    text-align: center;
}

/* Title */
h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Input Fields */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 20px;
    color: white;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input:focus + label {
    color: #007bff;
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #0056b3;
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(1px);
}

/* Toggle Login/Signup */
.toggle-text {
    margin-top: 15px;
    font-size: 14px;
}

.toggle-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.toggle-text a:hover {
    text-decoration: underline;
    color: #0056b3;
}

#roleGroup {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}


#roleSelect {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 1rem;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

